body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 700px;
    height: 672px;
    margin: 0;
}

#container #grid {
    height: 40px;
    width: 40px;
    border: 1px solid rgb(0, 0, 0);
    margin: 0;
}

#changeGrid {
    display: flex;
    justify-content: center;
    padding-bottom: 1em;
    margin-bottom: 15px;
    
}
